.category_btn:hover {
    background-color: #1EB91E !important;
    color: white !important;
    border-color: #1EB91E !important;
    transition: none !important;
}

.search_input{
    width: 400px;
    min-width: 200px !important;
    height: 46px;
    padding: 16px 30px;
    font-size: 16px;
    font-weight: 500;
    background-color: #F0F0F0 !important;
    border: none;
}

