.btn_product{
    width: 125;
    height: 44px;
    text-align: center;
    color: white;
    border: 1px solid #D55200;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    background: #D55200;
}

.btn_product:hover{
    border: 1px solid #D55200 !important;
    color: white !important;
    background: #D55200 !important;
}


.datas {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .datas::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, Opera */
  }